<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="AHT_Hung::hung" title="ACL Hung" sortOrder="99">
                    <resource id="AHT_Hung::index" title="Hung Listing" sortOrder="70" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>