<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="AHT\Hung\Block\Taxation">
        <arguments>
            <argument name="firstname" xsi:type="string">Nguyễn Trung Hưng</argument>
        </arguments>
    </type>
    <virtualType name="AHT\Hung\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">aht_hung</argument>
			<argument name="resourceModel" xsi:type="string">AHT\Hung\Model\ResourceModel\Post\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="hung_post_listing_data_source" xsi:type="string">AHT\Hung\Model\ResourceModel\Post\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	
	<!-- Plugin -->
	<type name="AHT\Hung\Controller\Index\Example">
        <plugin name="AHT_Hung_Plugin" type="AHT\Hung\Plugin\ExamplePlugin" sortOrder="10" disabled="false"  />
    </type>

	<type name="Magento\Catalog\Model\Product">
        <plugin name="aht_hung_update_product_name" type="AHT\Hung\Plugin\UpdateProductName" />
    </type>
	<!-- End Plugin -->

	<!-- Upload Img -->
	<type name="AHT\Hung\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">aht/tmp/post</argument>
            <argument name="basePath" xsi:type="string">aht/post</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="png" xsi:type="string">png</item>
                <item name="gif" xsi:type="string">gif</item>
            </argument>
        </arguments>
    </type>
	<!-- End Upload Img -->

    <!-- Custom Api -->
    <preference for="AHT\Hung\Api\Data\HungInterface"
                type="AHT\Hung\Model\Post" />
    <preference for="AHT\Hung\Api\HungRepositoryInterface"
    type="AHT\Hung\Model\HungRepository" />
</config>